<ng-container *ngIf="viewModel$ | async as vm">
  <div *ngIf="form.get('jsonInput')?.value" class="mt-4">
    <div
      class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-blueGray-500"
    >
      <div
        *ngFor="
          let key of getObjectKeys(
            form.get('jsonInput')?.value[vm.currentItemIndex]
          )
        "
      >
        <a
          (click)="populateXPath(key)"
          class="cursor-pointer text-blue-500 hover:underline"
          >{{ key }}</a
        >:
        {{
          formatJsonValue(
            form.get("jsonInput")?.value[vm.currentItemIndex][key]
          )
        }}
      </div>
    </div>
  </div>
</ng-container>
