<ng-container *ngIf="viewModel$ | async as vm">
  <div class="w-full">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          id="step-1"
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal step"
          (click)="vm.activeStep > 0 ? setStep(0) : null"
          [ngClass]="{
            'text-red-600 bg-white cursor-pointer': vm.activeStep > 0,
            'text-white bg-red-600': vm.activeStep === 0,
          }"
        >
          Step 1: CSS input
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          id="step-2"
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal step"
          (click)="vm.activeStep > 1 ? setStep(1) : null"
          [ngClass]="{
            'text-red-600 bg-white cursor-pointer': vm.activeStep > 1,
            'text-white bg-red-600': vm.activeStep === 1,
          }"
        >
          Step 2: Variables to Extract
        </a>
      </li>
      <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
        <a
          id="step-3"
          class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal step"
          (click)="vm.activeStep === 2 ? setStep(2) : null"
          [ngClass]="{
            'text-white bg-red-600': vm.activeStep === 2,
          }"
        >
          Step 3: Results
        </a>
      </li>
    </ul>
  </div>

  <!-- Progress Bar -->
  <app-progress-bar
    [currentValue]="vm.currentItemIndex + 1"
    [maxValue]="vm.jsonItemCount"
    *ngIf="vm.jsonItemCount"
    class="mt-4"
  />
</ng-container>
