<div *ngIf="viewModel$ | async as vm">
  <!-- Stepper -->
  <app-stepper />

  <section
    class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
  >
    <div class="px-4 py-5 flex-auto">
      <div *ngIf="vm.activeStep === 0">
        <p class="text-base font-light leading-relaxed mt-0 mb-4 text-red-800">
          Paste your CSS in the box below and click the Parse button to generate
          a list of all the CSS variables used in your stylesheet.
        </p>

        <form
          [formGroup]="vm.cssForm"
          (ngSubmit)="parseCss()"
          class="mt-4"
          *ngIf="vm.cssForm"
        >
          <textarea
            formControlName="cssInput"
            class="px-3 py-3 h-64 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full"
            placeholder="Paste your CSS here..."
          ></textarea>

          <label
            class="flex items-center mt-4"
            [ngClass]="{
              'opacity-50': vm.cssForm.get('mergeDuplicates')?.disabled,
            }"
          >
            <input
              type="checkbox"
              formControlName="mergeDuplicates"
              class="mr-2"
            />
            Merge Duplicates
          </label>

          <label class="flex items-center mt-4">
            <input
              type="checkbox"
              formControlName="existingStructure"
              class="mr-2"
            />
            Keep existing structure
          </label>

          <label
            class="flex items-center mt-4"
            [ngClass]="{
              'opacity-50': vm.cssForm.get('overrideVariableNames')?.disabled,
            }"
          >
            <input
              type="checkbox"
              formControlName="overrideVariableNames"
              class="mr-2"
            />
            Override variable names
          </label>

          <label
            class="flex items-center mt-4"
            [ngClass]="{
              'opacity-50': vm.cssForm.get('overrideVariableNames')?.disabled,
            }"
          >
            <input type="checkbox" formControlName="addShades" class="mr-2" />
            Add color variants
          </label>

          <div class="mt-4 flex justify-end gap-4">
            <button
              type="button"
              (click)="clearInput()"
              class="bg-blueGray-500 text-white active:bg-blueGray-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            >
              Clear
            </button>
            <button
              type="submit"
              class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            >
              Parse
            </button>
          </div>
        </form>
      </div>

      <app-variables *ngIf="vm.activeStep === 1" />
      <app-results *ngIf="vm.activeStep === 2" />
    </div>
  </section>
</div>
