<div *ngIf="viewModel$ | async as vm">
  <!-- Stepper -->
  <app-stepper />

  <section
    class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
  >
    <div class="px-4 py-5 flex-auto">
      <!-- Step 1: JSON Input -->
      <ng-container *ngIf="vm.activeStep === 0">
        <form
          [formGroup]="vm.cssForm"
          (ngSubmit)="parseCss()"
          class="mt-4"
          *ngIf="vm.cssForm"
        >
          <input
            type="file"
            (change)="handleFileInput($event)"
            accept=".json"
            class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full mt-4 border-blueGray-600 border"
          />

          <app-json-viewer [form]="vm.cssForm" controlName="xpath" />

          <input
            formControlName="xpath"
            type="text"
            class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full mt-4"
            placeholder="Enter XPath to extract CSS data..."
          />

          <label
            class="flex items-center mt-4"
            [ngClass]="{
              'opacity-50': vm.cssForm.get('mergeDuplicates')?.disabled,
            }"
          >
            <input
              type="checkbox"
              formControlName="mergeDuplicates"
              class="mr-2"
            />
            Merge Duplicates
          </label>

          <label class="flex items-center mt-4">
            <input
              type="checkbox"
              formControlName="existingStructure"
              class="mr-2"
            />
            Keep existing structure
          </label>

          <label
            class="flex items-center mt-4"
            [ngClass]="{
              'opacity-50': vm.cssForm.get('overrideVariableNames')?.disabled,
            }"
          >
            <input
              type="checkbox"
              formControlName="overrideVariableNames"
              class="mr-2"
            />
            Override variable names
          </label>

          <label
            class="flex items-center mt-4"
            [ngClass]="{
              'opacity-50': vm.cssForm.get('overrideVariableNames')?.disabled,
            }"
          >
            <input type="checkbox" formControlName="addShades" class="mr-2" />
            Add color shades
          </label>

          <div class="mt-6 flex justify-end gap-4 sticky-bar">
            <button
              type="button"
              (click)="clearInput()"
              class="bg-blueGray-500 text-white active:bg-blueGray-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            >
              Clear
            </button>
            <button
              type="submit"
              class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            >
              Parse
            </button>
          </div>
        </form>
      </ng-container>

      <app-variables *ngIf="vm.activeStep === 1" />

      @if (vm.cssForm?.get("overrideVariableNames")?.value == true) {
        <app-overrides *ngIf="vm.activeStep === 2" />
        <app-results *ngIf="vm.activeStep === 3" />
      } @else {
        <app-results *ngIf="vm.activeStep === 2" />
      }
    </div>
  </section>
</div>
