<ng-container *ngIf="viewModel$ | async as vm">
  <h2 class="text-lg font-semibold text-white">Export Variables</h2>

  <form
    [formGroup]="vm.exportForm"
    (ngSubmit)="exportVariables()"
    class="mt-4"
    *ngIf="vm.exportForm"
  >
    <!-- Variables Loop -->
    <div
      *ngFor="let variable of vm.extractedVariables; let i = index"
      class="flex gap-4 items-center mb-4"
    >
      <!-- Checkbox for Export -->
      <input
        type="checkbox"
        [formControlName]="'export-' + i"
        [ngClass]="'export-' + i"
        class="mr-3 text-blueGray-600 focus:ring-orange-300"
      />

      <!-- Variable Name Input -->
      <input
        type="text"
        [formControlName]="'name-' + i"
        [ngClass]="'name-' + i"
        class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full"
        placeholder="Variable name"
      />

      <!-- Variable value Input -->
      <input
        type="text"
        [formControlName]="'value-' + i"
        [ngClass]="'value-' + i"
        class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full"
        placeholder="Variable value"
      />
    </div>

    <!-- Submit Button -->
    <div class="mt-6 flex justify-end gap-6">
      <button
        type="submit"
        class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150n"
      >
        Continue
      </button>
    </div>
  </form>
</ng-container>
