<ng-container *ngIf="viewModel$ | async as vm">
  <h2 class="text-lg font-semibold text-white">Export Variables</h2>

  <form
    [formGroup]="vm.exportForm"
    (ngSubmit)="exportVariables()"
    class="mt-4"
    *ngIf="vm.exportForm"
  >
    <!-- Variables Loop -->
    <div
      *ngFor="let variable of vm.extractedVariables; let i = index"
      class="flex gap-4 items-center mb-4"
    >
      <!-- Checkbox for Export -->
      <input
        type="checkbox"
        [formControlName]="'export-' + i"
        [ngClass]="'export-' + i"
        class="mr-3 text-orange-500 focus:ring-orange-300"
      />

      <!-- Variable Name Input -->
      <input
        type="text"
        [formControlName]="'name-' + i"
        [ngClass]="'name-' + i"
        class="w-full p-4 text-black rounded-md focus:outline-none focus:ring-2 focus:ring-orange-300"
        placeholder="Variable name"
      />

      <!-- Variable value Input -->
      <input
        type="text"
        [formControlName]="'value-' + i"
        [ngClass]="'value-' + i"
        class="w-full p-4 text-black rounded-md focus:outline-none focus:ring-2 focus:ring-orange-300"
        placeholder="Variable value"
      />
    </div>

    <!-- Submit Button -->
    <div class="mt-6 flex justify-end gap-6">
      <button
        type="submit"
        class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-md transitionn"
      >
        Continue
      </button>
    </div>
  </form>
</ng-container>
